# pandas.Series.str.contains()
Verifica se um valor ou uma expressão regular está contida dentro de uma Series.

Doc: [pandas.Series.str.contains()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html)

Vamos trabalhar com o seguinte banco de dados. 

Analise a coluna __DESCRIÇÃO__ e responda as seguintes questões:
1. [Qual o tamanho da base de dados?](#base) __2332 registros__


2. [Quais itens POSSUEM a palavra "papel" em seu conteúdo?](#possuem) __29 registros__
3. [Quais itens NÃO possuem a palavra "papel" em seu conteúdo?](#naopossuem) __2303 registros__


4. [Quais itens COMEÇAM com a palavra "papel" em seu conteúdo?](#comecam) __26 registros__
5. [Quais itens NÃO começam com a palavra "papel" em seu conteúdo?](#naocomecam) __2306 registros__

<a id="base"></a>

## 1. Base de dados

In [1]:
import pandas as pd
import re

df = pd.read_csv('data.csv', parse_dates=['MESANO'], decimal=',', thousands='.')
print(f'Total de registros: {len(df)}')
df.head()

Total de registros: 2332

      MESANO              DESCRIÇÃO  PREÇO UNIT  QUANTIDADE
0 2018-05-01          OLEO SAE 5W30       22.90       108.0
1 2018-05-01  SACO PARA LIXO 100LT.       48.70         4.0
2 2018-05-01  COPO DESCARTAVEL AGUA        3.91       150.0
3 2018-05-01  DESINFETANTE 02LITROS        2.90        96.0
4 2018-05-01     VASSOURA DE NYLON.        5.95         6.0

<a id="possuem"></a>

## 2. Quais itens POSSUEM a palavra "papel" em seu conteúdo?
O parâmetro __flags=re.IGNORECASE__ é utilizado para ignorar diferenças entre letras maiúsculas e minúsculas.

In [2]:
df_papel = df[df['DESCRIÇÃO'].str.contains('papel', flags=re.IGNORECASE)]
df_papel.head()

        MESANO                      DESCRIÇÃO  PREÇO UNIT  QUANTIDADE
5   2018-05-01        PAPEL TOALHA INTERFOLHA       39.70        10.0
13  2018-05-01  PAPEL HIGIENICO FOLHA SIMPLES       45.75        10.0
19  2018-05-01          PAPEL TOALHA MULTIUSO        2.96        24.0
281 2018-07-01        PAPEL TOALHA INTERFOLHA       39.70         6.0
284 2018-07-01          PAPEL TOALHA MULTIUSO        2.96        60.0

### 2.2. Quantos itens POSSUEM a palavra papel?

In [3]:
len(df_papel)

29

<a id="naopossuem"></a>

## 3. Quais itens NÃO possuem a palavra "papel" em seu conteúdo?

In [4]:
df_papel = df[df['DESCRIÇÃO'].str.contains('papel', flags=re.IGNORECASE) == False]
df_papel.head()

      MESANO              DESCRIÇÃO  PREÇO UNIT  QUANTIDADE
0 2018-05-01          OLEO SAE 5W30       22.90       108.0
1 2018-05-01  SACO PARA LIXO 100LT.       48.70         4.0
2 2018-05-01  COPO DESCARTAVEL AGUA        3.91       150.0
3 2018-05-01  DESINFETANTE 02LITROS        2.90        96.0
4 2018-05-01     VASSOURA DE NYLON.        5.95         6.0

### 3.1. Quantos itens NÃO possuem a palavra papel?

In [5]:
len(df_papel)

2303

<a id="comecam"></a>

## 4. Quais itens COMEÇAM com a palavra "papel"?
Neste caso, adicionamos o parâmetro __regex=True__ para indicar que o padrão é uma expressão regular.

In [6]:
df_papel = df[df['DESCRIÇÃO'].str.contains('^papel', regex=True, flags=re.IGNORECASE)]
df_papel.head()

        MESANO                      DESCRIÇÃO  PREÇO UNIT  QUANTIDADE
5   2018-05-01        PAPEL TOALHA INTERFOLHA       39.70        10.0
13  2018-05-01  PAPEL HIGIENICO FOLHA SIMPLES       45.75        10.0
19  2018-05-01          PAPEL TOALHA MULTIUSO        2.96        24.0
281 2018-07-01        PAPEL TOALHA INTERFOLHA       39.70         6.0
284 2018-07-01          PAPEL TOALHA MULTIUSO        2.96        60.0

### 4.1. Quantos itens COMEÇAM com a palavra "papel"?

In [7]:
len(df_papel)

26

<a id="naocomecam"></a>

## 5. Quais itens NÃO começam com a palavra "papel"?

In [8]:
df_papel = df[df['DESCRIÇÃO'].str.contains(r'^(?!papel)', regex=True, flags=re.IGNORECASE)]
df_papel.head()

      MESANO              DESCRIÇÃO  PREÇO UNIT  QUANTIDADE
0 2018-05-01          OLEO SAE 5W30       22.90       108.0
1 2018-05-01  SACO PARA LIXO 100LT.       48.70         4.0
2 2018-05-01  COPO DESCARTAVEL AGUA        3.91       150.0
3 2018-05-01  DESINFETANTE 02LITROS        2.90        96.0
4 2018-05-01     VASSOURA DE NYLON.        5.95         6.0

### 5.1. Quantos itens NÃO começam com a palavra "papel"?

In [9]:
len(df_papel)

2306