# Datetime
Os seguintes conceitos são apresentados neste notebook:

[1. Exibir datetime formatado em português](#number1)<br>
[2. Converter string para datetime](#number2)<br>
[3. DataFrame com coluna de data](#number3)<br>
[4. Extrair dia, mês ou ano de datas armazenadas em um DataFrame](#number4)<br>
[5. Criação de coluna de data a partir de colunas separadas "dia", "mês" e "ano"](#number5)<br>
[6. Filtrar período de datas em DataFrame](#number6)<br>
[7. Cálculo entre datas: subtrair dias, adicionar meses](#number7)<br>
[8. Converter timestamp x datetime](#number8)<br>
[9. Fuso horário](#number9)<br>

<a id="number1"></a>

## 1. Exibir datetime formatado em português
### 1.1. locale "pt_BR.UTF-8"
Para configurar a exibição de datas em português, basta utilizar o código abaixo.

In [1]:
import locale

locale.setlocale(locale.LC_ALL, "pt_BR.UTF-8")

'pt_BR.UTF-8'

### 1.2. strftime(data, formato)
O método strftime retorna um objeto __string__ e recebe dois parâmetros:
1. O objeto datetime
2. Formato em que a Data será exibida para o usuário

Consulte a documentação para os formatos disponíveis em [strftime() and strptime() Behavior](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

In [2]:
from datetime import datetime

data = datetime(2019, 6, 11, 8, 20)
dataString = datetime.strftime(data, "%A, %d/%B/%Y").capitalize()

print(dataString)

Terça-feira, 11/junho/2019

<a id="number2"></a>

## 2. Converter string para datetime
### 2.1. strptime(string, formato)
O método __strptime()__ retorna um objeto __datetime__ e recebe dois parâmetros:
1. A data com o tipo String
2. Formato em que a Data está representada na String

Consulte a documentação para os formatos disponíveis em [strftime() and strptime() Behavior](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

In [3]:
from datetime import datetime

stringBrasil = '11/06/2019 15:30'
stringInternacional = '2019-6-11'

dataBrasil = datetime.strptime(stringBrasil, "%d/%m/%Y %H:%M")
dataInternacional = datetime.strptime(stringInternacional, "%Y-%m-%d")

print(f'dataBrasil = {dataBrasil}\ndataInternacional = {dataInternacional}')

dataBrasil = 2019-06-11 15:30:00
dataInternacional = 2019-06-11 00:00:00

### 2.2. pandas.to_datetime()
O método __to_datetime()__ recebe uma string como parâmetro representando a data. Observe que é possível informar o parâmetro __format__ para indicar o formato que a data está representada na string.

Consulte a documentação para os formatos disponíveis em [strftime() and strptime() Behavior](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

Doc: [pandas.to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)

In [4]:
import pandas as pd

pd.to_datetime('12-06-2019 12:50', format="%d-%m-%Y %H:%M")

Timestamp('2019-06-12 12:50:00')

In [5]:
import pandas as pd

pd.to_datetime('2019-6-12', format="%Y-%m-%d")

Timestamp('2019-06-12 00:00:00')

<a id="number3"></a>

## 3. DataFrame com coluna de data
No DataFrame abaixo temos a coluna __data__, que está no formato brasileiro: dia-mês-ano.

In [6]:
import pandas as pd

df = pd.read_csv('aula_datetime_pt.csv')
df

     usuario        data
0  usuario01  22-04-2019
1  usuario02  23-04-2019
2  usuario03  24-04-2019
3  usuario04  25-04-2019
4  usuario05  26-04-2019

Observe que a coluna __data__ está com o tipo __object__.

In [7]:
df.dtypes

usuario    object
data       object
dtype: object

### 3.1. Conversão automática com parse_dates
O parâmetro __parse_dates__ converte a coluna para o tipo __datetime64\[ns\]__ e formato __ano-mês-dia__.

Comportamento do parâmetro __parse_dates__:

* boolean. Se for True -> tenta converter o index.
* lista de inteiros ou nomes, por exemplo, se for [dataCompra, dataVencimento, dataPagamento] -> tenta converter as colunas 1, 2, 3, sendo que cada coluna será uma coluna separada de data.
* lista de listas, por exemplo, se for [[1, 3]] -> une as colunas 1 e 3 e as converte como uma única coluna de data. 
* dicionário, por exemplo, se for {‘dataConvertida’ : [1, 3]} -> une e converte as colunas 1 e 3 como datas e armazena o resultado em uma coluna chamada 'dataConvertida'.

In [8]:
import pandas as pd

df = pd.read_csv('aula_datetime_pt.csv', 
                 parse_dates=['data'])
df

     usuario       data
0  usuario01 2019-04-22
1  usuario02 2019-04-23
2  usuario03 2019-04-24
3  usuario04 2019-04-25
4  usuario05 2019-04-26

Observe que a coluna __data__ está com o tipo __datetime64[ns]__.

In [9]:
df.dtypes

usuario            object
data       datetime64[ns]
dtype: object

### 3.2. Conversão de datas com apply
O código abaixo converte uma coluna de datas através da função __apply__.

In [10]:
import pandas as pd

df = pd.read_csv('aula_datetime_pt.csv')
df['data'] = df['data'].apply(pd.to_datetime)
df

     usuario       data
0  usuario01 2019-04-22
1  usuario02 2019-04-23
2  usuario03 2019-04-24
3  usuario04 2019-04-25
4  usuario05 2019-04-26

In [11]:
df.dtypes

usuario            object
data       datetime64[ns]
dtype: object

<a id="number4"></a>

## 4. Extrair dia, mês ou ano de uma data armazenada em um DataFrame
Vamos extrair o __mês__ de cada __data__ e armazenar na coluna __mes__.

In [12]:
df['mes'] = df['data'].apply(lambda argumento : argumento.month)

In [13]:
df

     usuario       data  mes
0  usuario01 2019-04-22    4
1  usuario02 2019-04-23    4
2  usuario03 2019-04-24    4
3  usuario04 2019-04-25    4
4  usuario05 2019-04-26    4

Vamos extrair o __ano__ de cada __data__ e armazenar na coluna __ano__.

In [14]:
df['ano'] = df['data'].apply(lambda argumento : argumento.year)

In [15]:
df

     usuario       data  mes   ano
0  usuario01 2019-04-22    4  2019
1  usuario02 2019-04-23    4  2019
2  usuario03 2019-04-24    4  2019
3  usuario04 2019-04-25    4  2019
4  usuario05 2019-04-26    4  2019

<a id="number5"></a>

## 5. Criação de coluna de data através de colunas separadas "dia", "mês" e "ano"
No arquivo CSV temos as colunas armazenadas na seguinte ordem: dia, mes, ano

In [16]:
import pandas as pd

pd.read_csv('aula_datetime_dia_mes_ano.csv')

     usuario  dia  mes   ano
0  usuario01   22    4  2019
1  usuario02   23    4  2019
2  usuario03   24    4  2019
3  usuario04   25    4  2019
4  usuario05   26    4  2019

Neste exenmplo observe abaixo que:
* Passamos uma __lista de lista__ para o parâmetro __parse_dates__. A lista interna contém todas as colunas que serão utilizadas para a conversão da data.
* As colunas dia, mes ano, que existiam no DataFrame, foram removidas automaticamente

In [17]:
import pandas as pd

df_diamesano = pd.read_csv('aula_datetime_dia_mes_ano.csv', 
                           parse_dates=[['dia', 'mes', 'ano']])
df_diamesano

  dia_mes_ano    usuario
0  2019-04-22  usuario01
1  2019-04-23  usuario02
2  2019-04-24  usuario03
3  2019-04-25  usuario04
4  2019-04-26  usuario05

### 5.1. Colunas invertidas "ano, dia, mês"
No arquivo CSV temos as colunas armazenadas na seguinte ordem: ano, dia, mês. Diferentemente do exemplo anterior, a ordem das colunas estão invertidas.

In [18]:
import pandas as pd

pd.read_csv('aula_datetime_ano_dia_mes.csv')

     usuario   ano  dia  mes
0  usuario01  2019   22    4
1  usuario02  2019   23    4
2  usuario03  2019   24    4
3  usuario04  2019   25    4
4  usuario05  2019   26    4

Neste exemplo observe que:
* Passamos um dicionário para o parâmetro parse_dates informando qual o nome da coluna que será criada.
* Utilizamos o parâmetro __keep_date_col = True__, portando as colunas "dia", "mes", "ano" foram mantidas no DataFrame.

In [19]:
import pandas as pd

df_ano_dia_mes = pd.read_csv('aula_datetime_ano_dia_mes.csv', 
                             parse_dates={'dataCompleta': ['dia', 'mes', 'ano']},
                            keep_date_col=True)
df_ano_dia_mes

  dataCompleta    usuario   ano dia mes
0   2019-04-22  usuario01  2019  22  04
1   2019-04-23  usuario02  2019  23  04
2   2019-04-24  usuario03  2019  24  04
3   2019-04-25  usuario04  2019  25  04
4   2019-04-26  usuario05  2019  26  04

<a id="number6"></a>

## 6. Filtrar período de datas em DataFrame

In [20]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('aula_datetime_pt.csv',
                parse_dates=['data'])
df

     usuario       data
0  usuario01 2019-04-22
1  usuario02 2019-04-23
2  usuario03 2019-04-24
3  usuario04 2019-04-25
4  usuario05 2019-04-26

#### Opção 1: datetime()

In [21]:
df[(df['data'] > datetime(2019, 4, 20)) & (df['data'] < datetime(2019, 4, 24))]

     usuario       data
0  usuario01 2019-04-22
1  usuario02 2019-04-23

#### Opção 2: pd.to_datetime()

In [22]:
df[(df['data'] > pd.to_datetime('20-04-2019')) & (df['data'] < pd.to_datetime('24-04-2019'))]

     usuario       data
0  usuario01 2019-04-22
1  usuario02 2019-04-23

<a id="number7"></a>

## 7. Cálculo entre datas
Vamos trabalhar com o seguinte banco de dados.

In [23]:
import pandas as pd

df = pd.read_csv('aula_datetime_pt.csv',
                parse_dates=['data'])
df

     usuario       data
0  usuario01 2019-04-22
1  usuario02 2019-04-23
2  usuario03 2019-04-24
3  usuario04 2019-04-25
4  usuario05 2019-04-26

### 7.1. Subtrair 20 dias da data original
#### timedelta
O objeto __timedelta__ representa uma duração, a diferença entre duas datas ou horários.

_datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)_

Doc: https://docs.python.org/3/library/datetime.html#timedelta-objects

In [24]:
from datetime import timedelta

df['data'] = df['data'].apply(lambda arg : arg - timedelta(days=20))
df

     usuario       data
0  usuario01 2019-04-02
1  usuario02 2019-04-03
2  usuario03 2019-04-04
3  usuario04 2019-04-05
4  usuario05 2019-04-06

### 7.2. Substituir todos os meses para Dezembro
#### replace

O médoto __replace__ substitui o _ano_, _mes_ ou _dia_ em uma data.

_date.replace(year=self.year, month=self.month, day=self.day)_

Doc: https://docs.python.org/3/library/datetime.html#datetime.date

In [25]:
import pandas as pd

df = pd.read_csv('aula_datetime_pt.csv',
                parse_dates=['data'])

df['data'] = df['data'].apply(lambda arg : arg.replace(month=12))
df

     usuario       data
0  usuario01 2019-12-22
1  usuario02 2019-12-23
2  usuario03 2019-12-24
3  usuario04 2019-12-25
4  usuario05 2019-12-26

### 7.3. Adicionar 3 meses na data original
#### relativedelta
Disponível em _from dateutil.relativedelta import relativedelta_.

Existem duas opções para trabalhar com esta classe. <br>
Abaixo são apresentados dois exemplos de utilização. Para mais detalhe, consulte a documentação.

Doc: https://dateutil.readthedocs.io/en/stable/relativedelta.html

In [26]:
import pandas as pd
from dateutil.relativedelta import relativedelta

df = pd.read_csv('aula_datetime_pt.csv',
                parse_dates=['data'])

df['data'] = df['data'].apply(lambda arg : arg + relativedelta(months=3))
df

     usuario       data
0  usuario01 2019-07-22
1  usuario02 2019-07-23
2  usuario03 2019-07-24
3  usuario04 2019-07-25
4  usuario05 2019-07-26

### 7.4. Diferença entre duas datas
#### Opção 1: timedelta
Neste exemplo há uma subtração entre dois objetos do tipo __datetime__ e um objeto __timedelta__ é retornado.

In [27]:
from datetime import datetime

data1 = datetime(2019, 1, 1)
data2 = datetime(2019, 12, 31)

data1 - data2

datetime.timedelta(days=-364)

#### Opção 2: relativedelta
Neste exemplo dois objetos do tipo __datetime__ são utilizados como parâmetros em __relativedelta()__.

In [28]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

data1 = datetime(2019, 1, 1)
data2 = datetime(2019, 12, 31)

relativedelta(data1, data2)

relativedelta(months=-11, days=-30)

<a id="number8"></a>

## 8. Converter Timestamp x Datetime

#### De datetime para timestamp

In [29]:
from datetime import datetime

# Data 12/06/2019 12H 30min
data = datetime(2019, 6, 12, 12, 30)

timestamp = datetime.timestamp(data)
print(timestamp)

1560353400.0

#### De timestamp para datetime

In [30]:
from datetime import datetime

timestamp = 1560353400.0

data = datetime.fromtimestamp(timestamp)
print(data)

2019-06-12 12:30:00

<a id="number9"></a>

## 9. Fuso horário
Acompanhe o código e os comentários abaixo para converter uma data e horário com o fuso horário de São Paulo para o fuso horário do Japão.

Data de entrada: 11/junho/2019 16:15 (São Paulo) <br>
Dada de saída: 12/junho/2016 04:15 (Japão)

[Lista de fusos horários disponível aqui](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).

In [31]:
from datetime import datetime
from dateutil import tz

def converter_fuso_horario(data, tempo_local, tempo_destino):
    # Informa o fuso horário para o objeto DateTime, neste caso, horário local
    data = data.replace(tzinfo=tempo_local)
    
    # Converte o fuso horário para o horário de Destino
    return data.astimezone(tempo_destino)

In [32]:
# METHOD 1: Hardcode zones
tempo_local = tz.gettz('America/Sao_Paulo')
tempo_destino = tz.gettz('Asia/Tokyo')

# METHOD 2: Auto-detect zones
# tempo_local = tz.tzutc()
# tempo_destino = tz.tzlocal()

# Objetos datetime são considerados "naive" por padrão, ou seja, não possuem fuso horário
data = datetime.strptime('2019-06-11 16:15:00', '%Y-%m-%d %H:%M:%S')
dataConvertida = converter_fuso_horario(data, tempo_local, tempo_destino)

print(datetime.strftime(dataConvertida, "%d/%B/%Y %H:%M %z"), dataConvertida.tzinfo)

12/junho/2019 04:15 +0900 tzfile('Japan')