# pandas.DataFrame.diff()
Calcule a diferença de valores entre cada linha de um DataFrame.

Doc: [pandas.DataFrame.diff()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html)

Vamos trabalhar com o seguinte banco de dados. 

Analise a coluna __Saldo Acumulado__ e responda as seguintes questões:
* Quanto foi acumulado entre os dias "02/maio" e "01/maio"?
* Quanto foi acumulado entre os dias "05/maio" e "04/maio"?

In [1]:
import pandas as pd

df = pd.read_excel('dados.xlsx', header=None, names=['Data', 'Saldo Acumulado'])
df.head()

        Data  Saldo Acumulado
0 2018-05-01             1500
1 2018-05-02             1550
2 2018-05-03             1600
3 2018-05-04             1650
4 2018-05-05             1680

Agora vamos criar a coluna __Rendimento Diário__ que armazenará a diferença dos valores entre cada linha.

In [2]:
df['Rendimento Diário'] = df['Saldo Acumulado'].diff().fillna(0)

* Quanto foi acumulado entre os dias "02/maio" e "01/maio"? __R\$ 50,00__
* Quanto foi acumulado entre os dias "05/maio" e "04/maio"? __R\$ 30,00__

In [3]:
df

         Data  Saldo Acumulado  Rendimento Diário
0  2018-05-01             1500                0.0
1  2018-05-02             1550               50.0
2  2018-05-03             1600               50.0
3  2018-05-04             1650               50.0
4  2018-05-05             1680               30.0
5  2018-05-06             1700               20.0
6  2018-05-07             1750               50.0
7  2018-05-08             1800               50.0
8  2018-05-09             2000              200.0
9  2018-05-10             2500              500.0
10 2018-05-11             3000              500.0
11 2018-05-12             3100              100.0
12 2018-05-13             3300              200.0
13 2018-05-14             3500              200.0
14 2018-05-15             4000              500.0
15 2018-05-16             5000             1000.0